.pizza {
    border: 1px solid;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    background-color: orange
}
@media (min-width: 768px) {
  .pizzas {
      display: flex;
      display:inline-flex;
  }
      body {
          background-color: lightseagreen
      }
  }
    .footer  {
      position:bottom;
      background-color: yellowgreen;
      display: flex;
      padding: 1em;
      margin: 1em;
    }
    .side-bar  {
        text-align: right;
        flex: 1;
    }
    table, th,td {
        border: 1px solid black;
    }
    .container .btn{
        position:static;
        top:50%;
        left:50%;
        background-color: #F1F1F1;
        color:black;
        font-size: 10px;
        text-align: left;
    }
    .container .btn:hover {
        background-color: black;
        color:white;
    }
